.btn-logout {
  background-color: #F28A05;
  border: 0px;
  border-radius: 40px;
  color: white;
  font-family: 'Source Sans 3';
  font-size: 20px;
  padding: 10px;
  width: 100px;
}

.navbar {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  padding: 25px;
}

.a-navbar:hover {
  background-color: #F28A05;
  color: white;
  transition: 0.8s;
}

.a-navbar {
  color: #8F8F8F;
  border-radius: 20px;
  font-family: 'Source Sans 3';
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  text-decoration: none;
}

.box-logout {
  padding-left: 60%;
}

.btn-logout:hover {
  background-color: #162026;
  transition: 0.8s;
}
