.item-card {
  align-items: center;
  border: 0.5px solid #1620264a;
  border-radius: 20px;
  display: flex;
  height: 80px;
  width: 85%;
}

.item-card * {
  font-weight: 600;
}

.text-orange {
  color: var(--orange);
}

.item-img {
  background-color: #f6f6f6;
  height: 64px;
  width: 64px;
}

.item-info-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.item-quantity-container {
  display: flex;
  gap: 6px;
}
